extends ./layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura
block content
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore autem quaerat accusamus nemo fugit consequuntur, eveniet provident exercitationem aperiam, necessitatibus pariatur et saepe? Animi molestiae, eos dolorem ipsum commodi delectus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis possimus consequatur, alias ex sunt earum ratione! Similique perferendis obcaecati ut a possimus itaque sunt incidunt, deserunt amet commodi suscipit? Nihil!
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen sobre nosostros", class="img-fluid")

        include ./layout/travel_block

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 Dólares
    .container  
        h2.mt-5.text-center Testimoniales
        include ./layout/testimonial_block